* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    color: inherit;
    cursor: inherit;
    font: inherit;
    text-decoration: none;
    white-space: inherit;
    background: transparent;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
html, body {
    height: 100%;
    font: normal 14px/16px Arial, sans-serif;
    background: #eee;
    text-align: center;
    white-space: nowrap;
    cursor: default;
    color: #444;
    min-width: 392px;
    min-height: 438px;
    position: relative;
}

*::-moz-focus-inner {
    padding: 0;
    border: 0;
}

h1 {
    font-size: 30px;
    line-height: 34px;
    font-weight: bold;
    color: #999;
    margin: 32px;
}

.item {
    margin: 16px;
    text-align: left;
}

.field {
    padding: 2px;
    background: #ddd;
    border-radius: 0 4px 4px 4px;
}

.label > label {
    padding: 4px;
    display: inline-block;
    background: #ddd;
    border-radius: 4px 4px 0 0;
}

.button {
    height: 48px;
    line-height: 44px;
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
    border: 2px solid #29f;
    background: #eee;
    border-radius: 4px;
    padding: 0 10px;
    cursor: pointer;
    background-image: linear-gradient(#fff, #ddd);
    box-shadow: 0 -2px 4px #ccc inset;
}
.button:active,
.button.active {
    background-color: #ccc;
    background-image: linear-gradient(#bbb, #ddd);
    box-shadow: 0 2px 4px #aaa inset;
}
