input[type="text"] {
    height: 48px;
    line-height: 48px;
    font-weight: bold;
    font-size: 20px;
    padding: 0 8px;
    background: #fff;
    cursor: text;
    width: 100%;
    border-radius: 2px;
    color: #777;
    box-shadow: 0 2px 4px #eee inset;
}
