.Graph {
    position: relative;
    display: inline-block;
    vertical-align: top;
    background: #fff;
    width: 416px;
    height: 116px;
}

.Graph-canvas {
    background: #fff;
    vertical-align: top;
    padding: 8px;
}

.Graph-empty {
    line-height: 116px;
    height: 116px;
    text-align: center;
    color: #ccc;
}
