body {
    min-width: 904px;
    min-height: 594px;
}

h1 {
    margin: 0;
    line-height: 32px;
}

b {
    font-weight: bold;
}

.errorText {
    padding: 32px;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #c83234;
}

.property {
    margin: 16px;
}
.property > :last-child {
    font-size: 24px;
    line-height: 28px;
}

.graph {
    height: 116px;
}

.details {
    color: #888;
    font-size: 11px;
    line-height: 13px;
}
